body {
  height: 100%; /* Altura completa de la ventana */
  margin: 0; /* Sin margen */
  background: linear-gradient(to bottom, #ff7e5f, #feb47b); /* Degradado de arriba a abajo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}

.shadow-box {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
  /*margin-left: 50px;*/
  margin-right: 50px;
}

.shadow-box_acerca_de {
width: 50%;
height: 100%;
background-color: white;
border: 1px solid #ccc;
border-radius: 10px;
/*display: flex;*/
justify-content: center;
align-items: center;
font-size: 24px;
color: #333;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
margin-left: 300px;
margin-right: 50px;
padding-left: 10px;
}

.texto_temperatura_diario {
  color:black;
  font-size: 15px;
}

.label {
  font-size: 20px;
  font-weight: 400;
  margin-right: 8px;
  margin-left: 8px;
}

.valor {
  font-size: 20px;
  font-weight: 700;
}

/* Navbar.css */

.navbar {
  background-color: #333;
  padding: 10px;
}

nav a:hover::before {
  transform: scale(1,1);
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
}

.image {
  display: block; /* Elimina el espacio debajo de la imagen */
  width:1200px; 
  height:300px;
}

.text-overlay {
  position: absolute; /* Permite posicionar el texto encima de la imagen */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para que el texto esté realmente centrado */
  color: white; /* Color del texto */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  padding: 10px; /* Espaciado alrededor del texto */
  border-radius: 5px; /* Bordes redondeados opcional */
}